
.vs/VSWorkspaceState.json
.vs/gitprocess/config/applicationhost.config
.vs/gitprocess/FileContentIndex/c9ffce6d-7ab4-46c2-bed7-994b7bffd375.vsidx
.vs/gitprocess/FileContentIndex/read.lock
.vs/gitprocess/v17/.wsuo
.vs/slnx.sqlite
